@import url(../fonts/stylesheet.css);

html, body {
	font-family: 'Open Sans', sans-serif;
}

body > * {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #fff;
	font-size: 37px;
	font-weight: 800;
	text-transform: uppercase;
}

li {
	display: inline-block;
}

.hero {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-image: url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

/* HEADER */

.top-padding {
	padding-top: 38px;
}

.logo {
	float: left;
	padding-left: 50px;
	padding-top: 58px;
}

.logo:hover {
	opacity: 0.95;
}

h1 span {
	color: #00365c;
}

/* MAIN */

.carousel-block {
	background-color: #fff;
}

.item {
	background-color: #fff;
	border-radius: 3px;
	padding-left: 50px;
	padding-right: 30px;
	padding-top: 30px;
}

.text-1 {
	color: #aeddff;
	font-size: 16px;
	padding-bottom: 40px;
	padding-top: 25px;
}

.text-1 .mark-up  {
	font-size: 17px;
	font-weight: 600;
}

.text-2 {
	display: block;
	padding-left: 50px;
	padding-top: 50px;
}


.text-2, .text-down {
	color: #b2b2b2;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.frame-block {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 10px;
}

.carousel-indicators li, .carousel-indicators .active {
	display: none;
	margin-bottom: -90px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #222;
	font-size: 2.3em;
	margin-top: 250px;
	text-shadow: none;
}

#quote-carousel .carousel-control.right {
	margin-right: -750px;
	opacity: 1;
	transition-delay: 0.1s;
	transition: 0.2s;
}

#quote-carousel .carousel-control.left {
	margin-left: -300px;
	opacity: 1;
	transition-delay: 0.1s;
	transition: 0.2s;
}

#quote-carousel .carousel-control.right:hover, #quote-carousel .carousel-control.left:hover {
	transition-delay: 0.1s;
	transition: 0.2s;
	width: 90px;
}

/* 1st slide */

.video-responsive { 
	height: 0; 
	overflow:hidden; 
	padding-bottom: 56.25%; 
	position: relative;
} 

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%; 
	left: 0; 
	position: absolute; 
	top: 0; 
	width: 100%;
}

/* 2nd slide*/

.brain {
	padding-bottom: 30px;
	text-align: center;
}

.brain img {
	height: auto;
	padding-bottom: 20px;
	width: 100%;
}

.text-3 {
	display: block;
	font-weight: normal;
	padding-bottom: 26px;
}

/* 3d slide */

.positive li {
	list-style-type: none;
	margin-bottom: 35px;
}

.positive li:last-child {
	margin-bottom: 0;
}

.positive li:first-child {
	padding-top: 20px;
}

.positive li::before {
	background-repeat: no-repeat;
	background: url("../img/done.png");
	content: '';
	display: block;
	float: left;
	height: 70px;
	margin-right: 30px;
	width: 70px;
}

/* navigation-menu */

.carousel-block {
	margin-bottom: 100px;
	}

.navigation-menu {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

.navigation-menu .nav-button {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d8dadc;
	box-sizing: border-box;
	color: #008df3;
	font-size: 17px;
	font-weight: 800;
	height: 80px;
	line-height: 21px;
	margin-bottom: 11px;
	padding-left: 30px;
	padding-right: 53px;
	padding-top: 18px;
	text-transform: uppercase;
	transition-delay: 0.1s;
	transition: 0.4s;
	width: calc( 100% - 50px);
}

.nav-button::after {
	background-repeat: no-repeat;
	background: url("../img/arrow-navigation.png");
	content: '';
	display: block;
	float: right;
	height: 22px;
	margin-right: -13px;
	margin-top: -10px;
	width: 13px;
}

.navigation-menu .nav-button:hover {
	-moz-box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	-webkit-box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	background-color: #008df3;
	box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	color: #fff;
	cursor: pointer;
	padding-right: 60px;
	transition-delay: 0.1s;
	transition: 0.4s;
	width: calc( 100% - 40px);
}

.nav-button:hover::after {
	content: '';
	display: block;
	margin-right: -19px;
}

/* social icons*/

.social-icons {
	display: none;
	margin-bottom: 188px;
	margin-top: 30px;
}

.social-text {
	color: #00365c;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 30px;
	padding-right: 15px;
}

.social-icons a {
	display: inline-block;
	margin-bottom: 25px;	
	margin-right: 25px;
	text-decoration: none;
	transition-delay: 0.1s;
	transition: 0.3s;
}

.btn-si {
	background-position: 1em;
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 0.5em;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 1em;
	height: 4em;
	line-height: 1em;
	padding: 0 2em 0 4em;
	text-decoration: none;
	transition: all 0.5s; }

.btn-google {
  background-color: #dd4b39;
  background-image: url("../img/google.svg");}
  .btn-google:hover {
    background-color: #e47365; }
  .btn-google:active {
    background-color: #c23321; }

.btn-facebook {
  background-color: #3b5998;
  background-image: url("../img/facebook.svg"); }
  .btn-facebook:hover {
    background-color: #4c70ba; }
  .btn-facebook:active {
    background-color: #2d4373; }

.btn-twitter {
  background-color: #00aced;
  background-image: url("../img/twitter.svg"); }
  .btn-twitter:hover {
    background-color: #21c2ff; }
  .btn-twitter:active {
    background-color: #0087ba; }

.btn-microsoft {
  background-color: #e3b30d;
  background-image: url("../img/microsoft.svg"); }
  .btn-microsoft:hover {
    background-color: #f3c730; }
  .btn-microsoft:active {
    background-color: #b38d0a; }

.btn-linkedin {
  background-color: #0b5ea3;
  background-image: url("../img/linkedin.svg"); }
  .btn-linkedin:hover {
    background-color: #0e7ad3; }
  .btn-linkedin:active {
    background-color: #084273; }


.btn-xing {
  background-color: #25595E;
  background-image: url("../img/xing.svg"); }
  .btn-xing:hover {
    background-color: #388087; }
  .btn-xing:active {
    background-color: #184A4B; }

.btn-si-a {
  padding: 25px 15px 25px 65px !important;
  font-family: arial; }

.smaller .btn-si-a {
  padding-left: 40px !important;
  font-size: 12px; }

.btn-xing {
	padding-right: 52px !important;
}

.btn-linkedin {
	padding-right: 28px !important;
}

.btn-microsoft {
	padding-right: 23px !important;
}

.btn-google {
	padding-right: 26px !important;
}

.btn-facebook {
	padding-right: 16px !important;
}

.btn-twitter {
	padding-right: 43px !important;
}

/* Modal */

.modal-dialog {
	width: 50% !important;
	margin-top: 8%;
}

.modal-content {
	height: auto !important;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.modal-text-1, .modal-text-2 {
	color: #353535;
	display: block;
	font-size: 15px;
	padding-bottom: 40px;
}

.mark-modal {
	display: block;
	font-weight: 800;
	text-transform: uppercase;
}

.modal-content a {
	-moz-box-shadow:    4px 2px 26px 0px rgba(48, 50, 50, 0.7);
	-webkit-box-shadow: 4px 2px 26px 0px rgba(48, 50, 50, 0.7);
	background-color: #008ff6;
	border-radius: 3px;
	box-shadow:         4px 2px 26px 0px rgba(48, 50, 50, 0.7);
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	font-weight: 800;
	margin-bottom: 50px;
	padding: 25px;
	text-decoration: none;
}

.modal-content a:hover {
	opacity: 0.9;
}

.modal-text-1:before {
	background-repeat: no-repeat;
	background: url("../img/stop.png");
	content: '';
	display: inline-block;
	height: 100px; 
	margin-top: -50px;
	width: 100px;
}

/* VIDEO */

.video-hero {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-image: url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	height: auto;
	padding: 100px;
}

.video-text {
	color: #fff;
	font-size: 24px;
	padding-bottom: 50px;
	text-align: center;
}

.video-respons {
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 30px;
}

.embed-responsive {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	border: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
	padding-bottom: 75%;
}

.button-video {
	text-align: center;
}

.button-video > button {
	background-color: #fff !important;
	border: none;
	color: #327cdf !important;
	font-size: 24px !important;
	margin-top: 50px;
	text-transform: uppercase !important;
	transition-delay: 0.1s;
	transition: 0.4s;
	white-space: normal;
}

.button-video > button:hover {
	-moz-box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	-webkit-box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	background-color: #008df3;
	box-shadow: 1px 6px 57px 6px rgba(0,0,0,0.17);
	opacity: 0.8;
	transition-delay: 0.1s;
	transition: 0.4s;
}

/* OTHER */

iframe {
	margin: 0;
	padding: 0;
}

.text-down {
	display: none;
}

.wrapperrr {
	overflow-x: hidden !important;
}

.ui-loader > h1 {
	display: none !important;
}

/* Media Q */

@media screen and (max-width: 2560px) { /* Big TV*/

	.hero {
		height: 1600px;
		padding-top: 300px;
	}

	.navigation-menu .nav-button {
		padding-left: 59px;
	}

}

@media screen and (max-width: 1440px) {

	.hero {
		padding-top: 0;
		height: auto;
	}

	.nav-button::after {
		content: '';
		display: block;
		margin-top: 8px;
	}

	#quote-carousel .carousel-control.left {
		margin-left: -130px;
	}

	#quote-carousel .carousel-control.right {
		margin-right: -130px;
	}

}

@media screen and (max-width: 1199px) {

	h1 {
		text-align: center;
	}

	.text-1 {
		text-align: center;
	}

	.logo {
		float: none;
		padding-left: 0;
		text-align: center;
	}

	#quote-carousel .carousel-control.left {
		margin-left: -110px;
	}

	#quote-carousel .carousel-control.right {
		margin-right: -100px;
	}

}

@media screen and (max-width: 1024px) {			/* Ipad */

	#quote-carousel .carousel-control.left {
		margin-left: -100px;
	}

	#quote-carousel .carousel-control.right {
		margin-right: -100px;
	}

	.nav-button:nth-child(4)::after {
		content: '';
		display: block;
		margin-top: -10px;
	}
}

@media screen and (max-width: 768px) { 			/* Ipad */ 

	.logo {
		padding-top: 20px;
	}

	.top-padding {
		padding-top: 10px;
	}

	h1, .nav-button, .mark-up {
		font-size: 26px;
	}

	.text-1 {
		font-size: 16px;
		padding-bottom: 10px;
		padding-top: 0;
	}

	.text-down, .social-text {
		font-size: 24px;
	}

	.frame-block {
		height: 430px;
		margin-top: 5px;
	}

	.brain-imgs {
		padding-left: 20px;
		padding-right: 20px;
	}

	.text-3, .positive li ,	{
		font-size: 16px;
	}

	.item {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
	}

	.text-2 {
		display: none;
	}

	.text-down {
		display: block;
		padding-top: 15px;
		text-align: center;
	}

	.positive {
		padding-left: 10px;
	}

	.positive li {
		list-style-type: none;
		margin-bottom: 25px;
	}

	.positive li:first-child {
		padding-top: 20px;
	}

	.positive li::before {
		background: url("../img/done-tablet.png");
		content: '';
		display: block;
		height: 65px;
		background-repeat: no-repeat;
		margin-right: 10px;
		width: 50px;
	}

	.nav-button:nth-child(4)::after {
		content: '';
		display: block;
		margin-top: -7px;
	}

	.social-text {
		font-size: 20px;
	}

} 

@media screen and (max-width: 667px) {       /* Iphone 6 */

	.item {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 10px;
		}
}			

@media screen and (max-width: 376px) {			/* Iphone 6 */

	.logo {
		padding-top: 10px;
	}

	.top-padding {
		padding-top: 10px;
	}

	h1, .mark-up, .text-down {
		font-size: 16px !important; 
	}

	.nav-button {
		font-size: 14px !important;
		padding-left: 10px !important;
		padding-right: 19px !important;
		padding-top: 13px !important;
	}

	.text-1 {
		font-size: 14px;
		padding-bottom: 10px;
		padding-top: 0;
	}

	.text-down, .social-text {
		font-size: 20px;
	}

	.frame-block {
		height: 560px;
		margin-top: 5px;
	}

	.video-responsive, .brain {
		margin-top: 150px;
	}

	.text-3, .positive li ,	{
		font-size: 14px;
	}


	.nav-button::after {
		content: '';
		display: block;
		margin-top: -7px;
	}

	.nav-button:last-child::after {
		content: '';
		display: block;
		margin-top: -6px;
	}

	.positive li::before {
		content: '';
		display: block;
		height: 101px;
		background-repeat: no-repeat;
	}

	.social-icons {
		text-align: center;
		margin-bottom: 0;
	}

	.modal-dialog {
		width: 90% !important;
		margin-top: 8%;
	}

	.modal-content {
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 320px) {			/* Iphone 5 */
		
	.nav-button {
		font-size: 10px !important;
	}

	.positive {
		padding-left: 1px;
	}

	.positive li::before {
		content: '';
		display: block;
		background-repeat: no-repeat;
		height: 142px;
		margin-right: 4px;
	}
}

